@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-1: #212529;
  --bg-color-2: #343a40;
  --primary: #dc3545;
  --primary-dark: #e41a2e;
  --secondary: #6c757d;
  --secondary-dark: #555d63;
  --text-gray: #8e9a9d;
  --text-gray-2: #ffffff80;
}

.linkedIn-link:hover {
  color: #0a66c2 !important;
  transition: 0.1s;
}

.github-link:hover {
  color: #666666 !important;
  transition: 0.1s;
}

.main {
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 1.5rem;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
