.contact-container {
  background-color: var(--bg-color-1);

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input,
    textarea {
      background-color: var(--bg-color-2);
      border: 1px solid var(--bg-color-2);
      border-radius: 8px;
      color: white;

      &:focus {
        outline: none !important;
        border: 1px solid var(--primary);
      }
    }

    input {
      padding: 1rem 0.5rem;
    }

    textarea {
      padding: 1rem 0.5rem;
    }
  }
}
